Repository DataDog/agent-payload, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/agent-runtimes, @DataDog/agent-metric-pipelines, @DataDog/agent-log-pipelines, @DataDog/container-app, @DataDog/container-experiences, @DataDog/cloud-network-monitoring, @DataDog/ebpf-platform, @DataDog/universal-service-monitoring, @DataDog/container-integrations, @DataDog/agent-security, @DataDog/container-autoscaling

embed cluster autoscaling values schema
  jsonschema/embed.go
Owners: @DataDog/agent-runtimes

Pin GitHub Actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/test.yml
Owners: @DataDog/agent-runtimes

CAP-2957 add field OriginCollector in CollectorManifest
  process/agent.pb.go
  process/agent.proto_builder.go
  proto/process/agent.proto
Owners: @DataDog/container-app, @DataDog/container-experiences

CAP-2957 add a new option to use no-cgo zstd
  Rakefile
  go.mod
  go.sum
  process/compress.go
  process/compress_nocgo.go
  process/message.go
  process/message_nocgo_test.go
  process/message_test.go
Owners: @DataDog/agent-runtimes, @DataDog/container-app, @DataDog/container-experiences

CAP-2957 use go 1.24.0
  Rakefile
  go.mod
Owners: @DataDog/agent-runtimes

format
  proto/process/agent.proto
Owners: @DataDog/container-app, @DataDog/container-experiences

[poc] add containers to Pod
  process/agent.pb.go
  process/agent.proto_builder.go
  proto/process/agent.proto
Owners: @DataDog/container-app, @DataDog/container-experiences

Add the span id and trace id to the connection payload
  process/connections.pb.go
  process/connections.proto_builder.go
  proto/process/connections.proto
Owners: @DataDog/cloud-network-monitoring, @DataDog/ebpf-platform, @DataDog/universal-service-monitoring

Use key instead of name for domain labels
  autoscaling/kubernetes/cluster_autoscaling.pb.go
  jsonschema/ClusterAutoscalingValuesList.json
  proto/autoscaling/kubernetes/cluster_autoscaling.proto
Owners: @DataDog/container-autoscaling, @DataDog/agent-runtimes

Add an overflow count for spans
  proto/process/connections.proto
Owners: @DataDog/cloud-network-monitoring, @DataDog/ebpf-platform, @DataDog/universal-service-monitoring

Add an overflow count for spans
  process/connections.pb.go
  process/connections.proto_builder.go
  proto/process/connections.proto
Owners: @DataDog/cloud-network-monitoring, @DataDog/ebpf-platform, @DataDog/universal-service-monitoring

update redis commands
  process/agent.pb.go
  proto/process/agent.proto
Owners: @DataDog/container-app, @DataDog/container-experiences

update redis commands (#422)
  process/agent.pb.go
  proto/process/agent.proto
Owners: @DataDog/container-app, @DataDog/container-experiences

Add comments to the proto
  process/connections.pb.go
  proto/process/connections.proto
Owners: @DataDog/cloud-network-monitoring, @DataDog/ebpf-platform, @DataDog/universal-service-monitoring

Add systemProbeConn
  process/connections.pb.go
  process/connections.proto_builder.go
  proto/process/connections.proto
Owners: @DataDog/cloud-network-monitoring, @DataDog/ebpf-platform, @DataDog/universal-service-monitoring

Processes have logs attached implementation
  process/service_discovery_resource_test.go
  proto/process/agent.proto
Owners: @DataDog/container-app, @DataDog/container-experiences

Delete test file
  process/service_discovery_resource_test.go
Owners: @DataDog/container-app, @DataDog/container-experiences

rename to otel datadog exporter
  process/agent.pb.go
  proto/process/agent.proto
Owners: @DataDog/container-app, @DataDog/container-experiences

Regenerate protos
  process/agent.pb.go
  process/agent.proto_builder.go
  proto/proto
Owners: @DataDog/container-app, @DataDog/container-experiences, @DataDog/agent-runtimes

Update proto
  proto/proto
Owners: @DataDog/agent-runtimes

Delete proto/proto
  proto/proto
Owners: @DataDog/agent-runtimes

Add system info to manifests
  process/agent.pb.go
  process/agent.proto_builder.go
  proto/process/agent.proto
Owners: @DataDog/container-app, @DataDog/container-experiences

add sidecar container host type
  process/agent.pb.go
  proto/process/agent.proto
Owners: @DataDog/container-app, @DataDog/container-experiences

Add metadata on running kernel
  proto/sbom/sbom.proto
Owners: @DataDog/container-integrations

Run codegen
  proto/sbom/sbom.proto
  sbom/sbom.pb.go
Owners: @DataDog/container-integrations

[networks] Add resolv.conf to agent payload
  process/connections.pb.go
  process/connections.proto_builder.go
  proto/process/connections.proto
Owners: @DataDog/cloud-network-monitoring, @DataDog/ebpf-platform, @DataDog/universal-service-monitoring

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

*                           @DataDog/agent-runtimes
metrics/                    @DataDog/agent-metric-pipelines
proto/metrics/              @DataDog/agent-metric-pipelines
logs/                       @DataDog/agent-log-pipelines
proto/logs/                 @DataDog/agent-log-pipelines
process/                    @DataDog/container-app @DataDog/container-experiences
proto/process/              @DataDog/container-app @DataDog/container-experiences
process/connections.*       @DataDog/cloud-network-monitoring @DataDog/ebpf-platform @DataDog/universal-service-monitoring
proto/process/connections.* @DataDog/cloud-network-monitoring @DataDog/ebpf-platform @DataDog/universal-service-monitoring
contlcycle/                 @DataDog/container-integrations
proto/contlcycle/           @DataDog/container-integrations
contimage/                  @DataDog/container-integrations @DataDog/container-experiences
proto/contimage/            @DataDog/container-integrations @DataDog/container-experiences
sbom/                       @DataDog/container-integrations
proto/sbom/                 @DataDog/container-integrations
CycloneDX/                  @DataDog/container-integrations
cyclonedx_v1_4/             @DataDog/container-integrations
cws/                        @DataDog/agent-security
proto/cws/                  @DataDog/agent-security
autoscaling/                @DataDog/container-autoscaling
proto/autoscaling/          @DataDog/container-autoscaling
